<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cnt_obj.name}}</title>
</head>

<body>
    <h1>{{cnt_obj.name}}</h1>
    <li style="font-size: 20px;">
        <b>Name:</b> {{cnt_obj.name}}
    </li><br />
    <li style="font-size: 20px;">
        <b>County:</b> {{ cnt_obj.county }}
    </li><br />
    <li style="font-size: 20px;">
        <b>Country:</b> {{ cnt_obj.country }}
    </li><br />
    <li style="font-size: 20px;">
        <b>Nuts_region:</b> {{cnt_obj.nuts_region}}
    </li><br />
    <li style="font-size: 20px;">
        <b>Type:</b> {{cnt_obj.type}}
    </li>
</body>

</html>