<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UKTowns Location Site</title>
</head>

<body>
    <h1>UKTowns Location Site</h1>
    <ul>
        <!-- loop all the countries -->
        {% for ct in countries %}
        <li style="font-size: 20px;">
            <a href="/{{ct.name}}">
                {{ct.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>